.header {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 30pt;
  letter-spacing: 4px;
  margin: 25px 0px 0px;
}

.container {
  width: 500px;
}
